.btn {
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

.gray {
  background-color: var(--gray);
}

.gray:hover {
  background-color: var(--gray-hover);
}

.gray svg {
  fill: var(--foreground);
}

.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.primary svg {
  fill: var(--foreground);
}

.arrow-container {
  margin-left: 10px;
}

.arrow {
  display: inline-block;
  transition: transform 0.2s;
}

.arrow_right {
  transform: rotate(0deg);
}

.arrow_down {
  transform: rotate(90deg);
}
