.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .title {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
}

.headingTag {
  margin-left: 20px;
}

.course {
  margin-bottom: 50px;
}

.vacanciesSection {
  margin-bottom: 50px;
}

.featuresSection {
  margin-bottom: 30px;
}

.skillsSection {
  margin-bottom: 50px;
}
