.root {
  --button-width: 30px;
  --button-spacing: 4px;
  position: relative;
}

.input.input {
  width: 100%;
  padding-right: calc(var(--button-width) + var(--button-spacing) * 2);
}

.button {
  position: absolute;
  top: var(--button-spacing);
  right: var(--button-spacing);
  width: var(--button-width);
  height: calc(100% - var(--button-spacing) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
}
