.root {
  --button-width: 30px;
  --button-spacing: 4px;
  position: relative;
}

.input {
  width: 100%;
  appearance: none;
  color: var(--foreground);
  border-radius: 5px;
  padding: 8px 16px;
  padding-right: calc(var(--button-width) + var(--button-spacing) * 2);
  border: none;
  box-shadow: var(--shadow);
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
}

.input::placeholder,
.input:disabled {
  color: var(--placeholder-color);
}

.button {
  position: absolute;
  top: var(--button-spacing);
  right: var(--button-spacing);
  width: var(--button-width);
  height: calc(100% - var(--button-spacing) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
}
