.container {
  padding: 30px;
  background-color: var(--block);
  border-radius: 5px 5px 0 0;
}

.divider {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 20px;
}

.footer {
  display: flex;
  gap: 20px;
}

@media (max-width: 575px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }
}
