.button {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: var(--menu-gray);
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.titleSelected {
  color: var(--primary);
}

.children {
  margin-top: 16px;
  margin-left: 12px;
  padding: 8px 32px;
  border-left: 1px solid #DFDFDF;
}
